<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Typography</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lectus et tortor placerat euismod.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
    <p>widget added here</p>
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Iconography</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
content
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Tables</h1>
      <p>Use tables for laying out and displaying data.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
    <p>widget added here</p>
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->