<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Tabs</h1>
      <p>A single content area with multiple panels, each associated with a header in a list.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  <div class="cs-content">
    
content here!
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Accordion Menu</h1>
      <p>Displays collapsible content panels for presenting information in a limited amount of space.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
content here
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Datepicker</h1>
      <p>Select a date from a popup or inline calendar.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

content here?

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Alerts</h1>
      <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

content here?

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>CTA</h1>
      <p>Use this module whenever you need a call to action.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

content here?

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->