<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Form Inputs</h1>
      <p>Individual form controls automatically receive some global styling.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
widget added here
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Button Types</h1>
      <p>Use any of the available button classes to quickly create a styled button.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
widget added here
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->