<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Layout Grid</h1>
      <p>Use the grid to layout your application and combine with other modules.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
<div class="row">
  <div class="col lg-3 sm-2">.col.lg-3.sm-1</div>
  <div class="col lg-1 sm-1">.col.lg-1.sm-2</div>
  <div class="col lg-1 sm-3">.col.lg-1.sm-3</div>
</div>

<div class="row">
  <div class="col lg-2 sm-3">.col.lg-2.sm-3</div>
  <div class="col lg-1 sm-2">.col.lg-1.sm-2</div>
  <div class="col lg-2 sm-1">.col.lg-2.sm-1</div>
</div>

<div class="row">
  <div class="col lg-1 sm-1">.col.lg-1.sm-1</div>
  <div class="col lg-1 sm-2">.col.lg-1.sm-2</div>
  <div class="col lg-1 sm-2">.col.lg-1.sm-2</div>
  <div class="col lg-1 sm-1">.col.lg-1.sm-1</div>
  <div class="col lg-1 sm-3">.col.lg-1.sm-3</div>
</div>

<div class="row">
  <div class="col lg-1 sm-3">.col.lg-1.sm-3</div>
  <div class="col lg-1 sm-1">.col.lg-1.sm-1</div>
  <div class="col lg-2 sm-1">.col.lg-2.sm-1</div>
  <div class="col lg-1 sm-1">.col.lg-1.sm-1</div>
</div>
    
<div class="row">
  <div class="col lg-2 sm-3">.col.lg-2.sm-1</div>
  <div class="col lg-3 sm-3">.col.lg-3.sm-2</div>
</div>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->