.cs-content-section {
  margin: auto auto $layout-gutter-multiple * 8;
  max-width: 1200px;

  &:last-child {
    margin-bottom: 0;
  }

}

.cs-content-header {
  line-height: 1;
  overflow: hidden;
  padding: $layout-gutter-multiple * 2 0 0 0;

  @media screen and ( max-width: $breakpoint-mid ) {

    .cs-button {
      margin-bottom: 15px;
      margin-top: -5px;
      width: 100%;
    }

  }

}

.cs-content-anchor {
  display: inline-block;
  font-size: 80%;
  font-weight: 700;
  line-height: 1.4;
  margin-left: 5px;
  opacity: 0;
  text-transform: lowercase;
  transition: opacity linear .3s;
}

.cs-content-heading:hover {
  .cs-content-anchor { opacity: 1; }
}

.cs-content-heading {
  @include inline-block(middle);
  margin-bottom: 15px;
  max-width: 66%;

  @media screen and ( max-width: $breakpoint-mid ) {
    max-width: none;
  }

  &__label {
    @extend .cs-is-clean;
    @extend .cs-is-uppercase;
    @include font-size(14);
    color: $color-primary;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  p {
    @extend .cs-is-clean;
    @include font-size(12);
    color: $color-highlight;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: $color-highlight;

    &:hover,
    &:focus {
      text-decoration: none;
    }

  }

}

.cs-content {
  background: $color-base;
  border-radius: 2px;
  padding: $layout-gutter-multiple * 4;

  @media screen and ( max-width: $breakpoint-mid ) {
    padding: $layout-gutter-multiple * 2;
  }

}

.cs-message {

  p {
    @include font-size(14);
    color: $color-primary;
    margin: 0;
    padding:0;
  }
}

.cs-template-list {
  @include font-size(18);
  font-family: $font-primary;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs-template-list__item {

  a {
    @extend .cs-link;
    color: $color-action;
    display: block;
    padding: 10px 0;
  }

}
