.cs-content-section {
  margin: auto auto $layout-gutter-multiple * 8;
  max-width: 1200px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
}

.cs-content-header {
  padding: $layout-gutter-multiple * 2 0 0 0;
  line-height: 1;
  overflow: hidden;
}

.cs-content-heading {
  @include inline-block(middle);
  margin-bottom: 15px;
  max-width: 66%;
  
  h1 {
    font-family: $font-primary;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: $color-primary;
    @include font-size(14);
    @extend .cs-is-clean;
    @extend .cs-is-uppercase;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  p {
    @extend .cs-is-clean;
    @include font-size(12);
    font-family: $font-primary;
    color: $color-highlight;
    font-weight: 400;
    line-height: 1.5;
  }
}

.cs-content {
  padding: $layout-gutter-multiple * 4;
  background: $color-base;
  border-radius: 2px;
}

.cs-message {
  p {
    margin: 0;
    padding:0;
    color: $color-primary;
    @include font-size(14);
  }
}