{% embed "_corkscrew-section.twig" %}

  {% block label %}
    Buttons
  {% endblock %}

  {% block description %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lectus et tortor placerat euismod.
  {% endblock %}

  {% block block_content %}

<button type="button" class="btn">Standard button</button>
<button type="button" class="btn btn-primary">Primary button</button>
<button type="button" class="btn btn-secondary">Secondary button</button>
<button type="button" class="btn btn-tertiary">Tertiary button</button>

  {% endblock %}

{% endembed %}
