table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

label {
  display: block;
  cursor: pointer;
}

legend {
  
}

fieldset {
  
}

.form-group {
  margin-bottom: 20px;
}

.checkbox-group label,
.radio-group label {
  display: inline-block;
}

.btn,
button,
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.row {
  margin: 0 -10px;
  overflow: hidden;
}

.row + .row {
  margin-top: 20px;
}

.col {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  min-height: 100px;
  background: #ddd;
  border: 1px solid #fff;
}

.lg-5 { width: 100%; }
.lg-4 { width: 80%; }
.lg-3 { width: 60%; }
.lg-2 { width: 40%; }
.lg-1 { width: 20%; }

@media screen and ( max-width: 700px ) {
  
  .sm-3 { width: 100%; }
  .sm-2 { width: 66.666666%; }
  .sm-1 { width: 33.333333%; }
  
}