<section id="{{ label|replace({' ': '-'})|lower }}" class="cs-content-section {% if project.htmlViewer == true %}generate-html{% endif %}">

  <header class="cs-content-header">
    <div class="cs-content-heading">
    <h1>{{ label }}</h1>
    <p>{{ description|raw }}</p>
  </div>

</header><!--/.cs-content-header-->

  <div class="cs-content">
    {% block block_content %}{% endblock %}
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->
