{% set navigation = [
  {
    item: "overview",
    label: "Overview"
  },
  {
    item: "base",
    label: "Base Elements"
  },
  {
    item: "components",
    label: "Components"
  },
  {
    item: "modules",
    label: "Modules"
  },
  {
    item: "helpers",
    label: "Helpers"
  },
]%}

{% for nav in navigation %}

<li class="{% if section == nav.item|e %}is-active{% endif %}">
  <a href="{{ path_for('navigation', { 'name': nav.item|e }) }}"
    {% if section == nav.item|e %}aria-current="page"{% endif %}>
    {{ nav.label|e }}
  </a>
</li>

{% endfor %}