    </div><!--/.cs-gutter-->
  </div><!--/.cs-container-->
</main><!--/.cs-main-->

<footer role="contentinfo" id="cs-footer" class="cs-footer">
<!--
  <div class="cs-container">
    <div class="cs-gutter cs-clearfix">
    <div class="cs-branding cs-col">
      <img id="cs-logo-footer" class="cs-logo">
    </div>
    
    <div class="cs-col-last">
      <nav class="cs-fts-nav">
        <ul class="cs-is-inline cs-is-clean">
          <li><a href="http://freshtilledsoil.com">Fresh Tilled Soil</a></li>
          <li><a href="http://basecamp.com/1746634/">Client Sign In</a></li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
-->
</footer>
