<header role="banner" id="cs-banner" class="cs-banner">
  <div class="cs-container">
    <div class="cs-gutter cs-clearfix">
        
      <div class="cs-nav-header">
        <ul class="cs-is-menu-show cs-is-clean">
          <li><a href="#cs-site-nav" id="cs-nav-menu-toggle">menu</a></li>
        </ul>

        <div class="cs-branding">
          <img id="cs-logo-header" class="cs-logo">
        </div><!--/.cs-branding-->
      </div><!--/.cs-nav-header-->
      
      <ul id="cs-site-nav" class="cs-is-clean cs-fts-nav"></ul>

    </div><!--/.cs-gutter-->
  </div><!--/.cs-container-->
</header><!--/.cs-banner-->

<main role="main" id="cs-main" class="cs-main">
  <div class="cs-container cs-align-normal">
    <div class="cs-gutter">