{% embed "_corkscrew-section.twig" %}

  {% block label %}
    Lists
  {% endblock %}

  {% block description %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lectus et tortor placerat euismod.
  {% endblock %}

  {% block block_content %}

<ul>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

<ol>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ol>

  {% endblock %}

{% endembed %}
