{% embed "_corkscrew-section.twig" %}

  {% set label = 'Typography' %}
  {% set description = 'Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Aliquam et lectus et tortor placerat euismod.' %}

  {% block block_content %}

<h1>Level 1 heading</h1>

<h2>Level 2 heading</h2>

<h3>Level 3 heading</h3>

<h4>Level 4 heading</h4>

<h5>Level 5 heading</h5>

<h6>Level 6 heading</h6>

  {% endblock %}

{% endembed %}
